nav a{
    float: left;
    height: 40px;
    line-height: 38px;
    text-decoration: none;
    color:#fff;
    font-family: sans-serif;
    background: #000;
    padding: 0 10px;
    transition: 0.2s;
}

nav a:hover{
    background: blue;
    padding: 0 20px;
}
