body,header,footer,p,div,section,nav,h1{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Sniglet', cursive;
}
header,footer{
    background-color: #51C9ED;
    height: 200px;
    width: 100%;
    border: 2px solid black;
}
#container1{
    margin-left: auto;
    margin-right: auto;
    width:  900px;
    height: 200px;
    text-align: center;
    }
    .case1{
        background-color: #ACEDF4;
        height: 150px;
        width: 700px;
        float: left;
    }
    .case2{
        background-color: #058C9B;
        height: 160px;
        width: 200px;
        float: left;
    }
        div.case2 a{
            text-decoration: none;
        }
    .case3{
            background-color: #D2E9EC;
            height: 38px;
            width: 900px;
            border-top: 2px solid white;
    }

section{
    margin: 0 auto;
    height: 800px;
    width: 1000px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px 10px 10px 10px;
    border: 4px solid black;
}
.casex{
    height: 800px;
    width: 600px;
    float: left;
}
#fiche{
    float:left;
}
.paragraphe1{
    margin-left: 55px;
}
ul#liste{
    list-style-type: none;
}

    ul#liste li{
    float: left;
    background: url('img/fleche.jpg') no-repeat;
    margin: 15px;
    padding:0 0 0 27px;
    }

#image{
margin: 12px 0 0 120px;
}
.bloc1{
    margin-left: 50px;
    margin-top: -20px;
}
    .case5{
    background-color: #ffffff;
    float: right;
    height: 800px;
    width: 300px;
    border-radius: 0 10px 10px 0;
    }
    .case6{
    background-color: #ffffff;
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    }
    .case{
        border-bottom-style: solid;
        margin: 0;
        text-align: center;
        background-color: grey;
    }
    .paragraphe2{
        margin-left: 20px;
        margin-top: 10px;
    }
.case8{
        margin-top: 150px;
        text-align: center;
}
nav.case3 a,nav.case7 a{
    text-decoration: none;
    text-align: center;
    margin-left: 25px;
    transition: 2s;
}
nav.case7 a:hover{
    background-color: #51C9ED;
}
nav.case3 a:hover{
    background-color: #51C9ED;
}
/*.case4{
    background-color: blue;
    height: 40px;
    width: 500px;
    margin-left: 200px;
}
*/
.clear{
    clear: both;
}
.case9{
    margin-left: 50px;
    float: left;
}
h2{
    margin-left: 400px;
    text-align: center;
}
.image1{
    margin-top: 100px;
    float: left;
}
