div{
    width: 800px; /* largeur */
    margin: 0 auto; /* marges */
}

div img{
    height: 280px;
    width: 200px;
    margin: 20px; /*marges*/
    border: 5px solid #eee; /* bordure */
    /*box-shadow: 4px 4px 4px rgba(47, 123, 56, 0.2); /* ombre */
    box-shadow:20px 17px 10px #7854a9;
    transition: 0.5s;
}

div img:hover{
    transform: rotate(7deg); /* rotation de 360 degrés */
}

img.rotation360:hover{
    transform: rotate(360deg);
}
